<!DOCTYPE html>
<html>
  <head>
    <title>NOT FOUND :(</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>404 ~~ NOT FOUND</h1>
    <p><%= content %></p>
  </body>
</html>